[Desktop Entry]
Name=Glassy
Comment=A fast, minimal GPU-accelerated terminal emulator
Exec=glassy
Icon=io.github.alliecatowo.glassy
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
StartupNotify=true
