[Desktop Entry]
Name=Glassy
Comment=A fast GPU terminal emulator
Exec=glassy
Icon=glassy
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
StartupWMClass=glassy
